body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  font-family: Cuprum, Arial, sans-serif;

  font-size: 18pt;
}

ul.navbar-nav li a {
   color: white;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
ul.navbar-nav li a:hover {
   color: red;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-brand {
   font-family: 'Cookie', cursive;
   font-size: 36pt;
   color: white;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 650px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
   /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
   /* text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5); */
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);  
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 650px;
  background-color: white;
}
.carousel-inner > .item > img {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  max-height: 300% !important;
  max-width: 300% !important;
  width: 100% !important;
  height:100% !important;
  /*background-size: 100% 100%;*/
}

.carousel-caption h1 {
   font-family: 'Cookie', cursive;
   font-size: 48px;

}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}






/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}